* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {

    /*colores: 
    1- #573219
    2- #2b190d

    3- #E8833F
    4- #4B0903
    
    */
    --colorPrimario: #E8833F;
    --colorSecundario: #4B0903;
    --colorTextoClaro: #e2e2e2;
  }

body {
    font-family: 'Jost', sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 1900px;
    margin: auto;
}

header {
    background: linear-gradient(90deg, var(--colorPrimario) 0%, var(--colorSecundario) 100%);

}

header .barra-menu {
   background: linear-gradient(90deg, var(--colorPrimario) 0%, var(--colorSecundario) 100%);
   display: flex;
   justify-content: space-around;
   padding-bottom: 10px;
   padding-top: 10px;
   align-items: center;
}

header .barra-menu .menu {
    padding: 20px;
}

header .barra-menu .logo{
    margin-right: 350px;
}

header .barra-menu .menu a{
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

header .barra-menu .menu a:hover{
    color: rgb(163, 160, 160);
}

header .portada {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}

header .portada .titular-izq {
    width: 50%;
}

header .portada .titular-izq #btn-comprar:hover {
    background: var(--colorSecundario);
    color: white;
}

header .portada .titular-izq #btn-comprar {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    background: var(--colorTextoClaro);
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s ease;
}

header .portada .titular-izq h1{
    font-weight: 800;
    font-size: 90px;
    color: white;
    line-height: 1;
}

header .portada .titular-izq p{
    padding-top: 10px; 
    padding-bottom: 20px; 
    font-weight: 200;
    font-size: 20px;
    color: white;
}

header .portada .foto-cafe {
    filter: drop-shadow(15px 10px 10px rgba(0, 0, 0, 0.25));
    scale: 120%;
    rotate: -5deg;
}

main {
    background: linear-gradient(90deg, var(--colorPrimario) 0%, var(--colorSecundario) 100%);
}

.servicios {
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

.servicios .titulo-servicios, .subtitulo-servicios{
    text-align: center;
}
.servicios .titulo-servicios{ 
    color: var(--colorTextoClaro);
    font-size: 50px;
}

.servicios .subtitulo-servicios{
    font-weight: 300;
    font-size: 20px;
    color: var(--colorTextoClaro);
}

.servicios .separador-servicios {
    padding-bottom: 20px;
    margin: auto;
    width: 50%;
    border-top: 4px solid var(--colorSecundario);
}

.servicios .items {
    margin: auto;
    justify-content: space-around;
    display: flex;
    padding-top: 50px;
    padding-bottom: 60px;
}

.servicios .item { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    width: 28%;
    background-color: var(--colorTextoClaro);
    padding: 30px;
}

.servicios .item img{
    padding: 5px;
    margin-bottom: 20px;
}

.servicios .item h3 {
    font-size: 20px;
}

.servicios .item p {
    font-size: 16px;
    padding-bottom: 25px;
}

.servicios .item .btn-item{
    color: #e2e2e2;
    padding: 10px 40px;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background: var(--colorSecundario);
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s ease;
}

.servicios .item .btn-item:hover{
    background-color: var(--colorPrimario);
}